@charset "UTF-8";

@font-face {
    font-family: 'San Francisco';
    font-weight: 400;
    src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: San Francisco;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: #ffa07a;
    color: #fff;
}

.nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    margin: 0 20px;
}

.nav ul a {
    color: #000;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 70px;
}

.admin {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin img {
    height: 30px;
}

.location_banner {
    background-color: #ffe4b5;
    text-align: center;
    padding: 50px 0;
}

.location_banner h1 {
    font-size: 36px;
    margin: 0;
}

.back {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.back a {
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.back img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

#info-imovel {
    background-color: #fff;
    padding: 20px;
    text-align: left;
    margin-top: 20px;
    border-radius: 5px;
}

#info-imovel h2 {
    font-size: 36px;
    margin: 0;
    margin-bottom: 20px;
}

#info-imovel img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
}

#info-imovel p {
    font-size: 16px;
    margin: 0;
    margin-bottom: 20px;
}

#info-imovel .localizacao {
    font-size: 14px;
    margin-bottom: 20px;
    font-style: italic;
}

#info-imovel .preco {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
    flex: 1;
}

article {
    width: 30%;
    text-align: center;
    margin: 5px;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
}

article:hover {
    transform: scale(1.1);
}

.casa {
    max-width: 80%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

article a {
    background-color: #ff8c00;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.2s ease-in-out;
}

a:hover {
    background-color: #fff;
    color: #333;
}

footer {
    background-color: #ff8c00;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

@media only screen and (max-width: 768px) {
    article {
        width: 100%;
        margin: 20px 0;
    }

    .header {
        padding: 20px;
    }

    .location_banner {
        padding: 20px 0;
    }
}
