@charset "utf-8";

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
h1,h2{margin: 0;padding: 0;}
.header{
	 text-align: center;
	 padding: 6px 0;
}
.section_banner{
	background-color: #2283c9;
	padding: 60px 15px;
}

.section_banner h1{
	color: #fff;
    font-size: 50px;
	text-align: center;
    /* margin: 0; */
}

.admin{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
}
.admin a{
	 text-decoration: none;
	 color:#fff;
     margin-right: 20px;
}
.admin a img{
	width: 50px;
}
.imoveis{
	background: #b3cae2;
	width: 900px;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}

article{
    display: inline-block;
	width: calc(300px - 20px);
	padding: 5px 0 10px;
}

article img{
	width: 200px;
}

article h2{
	 font-size: 20px;
    color: #686868;
	padding:5px 0;
	margin: 0 auto;
	 width: 190px; 
	 overflow: hidden;
	 text-overflow: ellipsis;
	 white-space: nowrap; 
}

article a, #details{
    background-color: #127d00;
    color: #fff;
    padding: 5px 15px;
    text-decoration: none;
}


/* estilo do ver.php- modo único */
article .ver_img{
	width: 400px;
}
article.ver{
	width: 100%;
}
article.ver h2{
	overflow: inherit;
	width: 100%;
}
.wrapper {
  position:absolute;
  top: 0;
  left: 0;
}
.wrapper div {
  padding: 10px;
}
.wrapper div img{
	width: 50px;
}
.wrapper div a{
	text-decoration: none;
}


footer {
    background: #fff;
    text-align: center;
}
footer div {
    background: #2283c9;
    color: white;
    padding: 20px 0;
}





